* {
  box-sizing: border-box;
}

body {
  background: rgba(255, 198, 0, 0.9);
  background-attachment: fixed;
  background-image: url(./assets/pattern.svg);
  background-size: 500px;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
